* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

.image {
  width: 100%;
  height: 35%;
  position: absolute;
  z-index: -1;
}

.title {
  text-align: center;
  color: white;
  padding: 15px;
  font-size: 30px;
  border-top: 5px transparent;
  font-weight: 400;
}

.searchbox {
  margin: auto;
  width: 50%;
  margin-bottom: 100px;
}
#search {
  padding: 5px;
  padding-left: 0.5vw;
  border-style: solid;
  border-width: 8px;
  border-color: white;
  border-radius: 12px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: white;
  height: 20px;
  width: 80%;
  color: hsl(0, 0%, 59%);
  text-align: left;
  display: inline-block;
  font-size: 18px;
  font-size: 1.25vw;
}

#search:hover {
  box-shadow: 0 0 4px;
  opacity: 0.9;
}

#arrow {
  margin-bottom: -18.5px;
  margin-left: -5px;
  padding: 7.5px;
  padding-top: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 12px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: black;
  height: 20px;
}

#arrow:hover {
  box-shadow: 0 0 4px rgba(3, 3, 3, 0.8);
  opacity: 0.9;
}

.container {
  height: 500px;
  position: relative;
}
table {
  margin: auto;
  max-height: 40px;
  margin-top: -75px;
  position: absolute;
  width: 75%;
  margin-left: 12.5%;
  z-index: 1000;
  padding: 15px;
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  border-radius: 12px;
  box-shadow: 0 10px 10px -10px hsl(0, 0%, 59%);
}
table th {
  padding: 5px;
  padding-left: 2.5vw;
  padding-right: 3vw;
  width: 25%;
  text-align: left;
  text-transform: uppercase;
  font-size: 15px;
  font-size: 1vw;
  color: hsl(0, 0%, 59%);
  font-weight: 500;
}

td {
  padding: 5px;
  padding-left: 2.5vw;
  padding-right: 3vw;
  font-size: 18px;
  font-size: 1.75vw;
  font-weight: 700;
  color: hsl(0, 0%, 17%);
  text-align: left;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: hsl(0, 0%, 59%);
}

#my_isp {
  border-right-color: transparent;
}

#mapid {
  height: 500px;
}
