* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

#App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25vh 10vh 10vh 60vh 1vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.image {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 1;
  width: 100%;
  height: 35%;
  position: absolute;
}

.head {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;
  width: 100%;
  position: absolute;
}

.title {
  text-align: center;
  color: white;
  padding: 0.9375rem;
  font-size: 1.875rem;
  border-top: 5px transparent;
  font-weight: 400;
}

#searchinput {
  display: flex;
  justify-content: center;
  margin: 0 20%;
}

#search {
  padding: 0.3125rem;
  padding-left: 0.5vw;
  border-style: solid;
  border-width: 0.5rem;
  border-color: white;
  border-radius: 0.75rem;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: white;
  height: 1.25rem;
  color: hsl(0, 0%, 59%);
  text-align: left;
  display: inline-block;
  font-size: 1.125rem;
  width: 100%;
}

#search:hover {
  box-shadow: 0 0 0.25;
  opacity: 0.9;
}

#arrow {
  padding: 0.46875rem;
  border-style: solid;
  border-width: 0.3125rem;
  border-color: black;
  border-radius: 0.75rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: black;
}

#arrow:hover {
  box-shadow: 0 0 0.25rem rgba(3, 3, 3, 0.8);
  opacity: 0.9;
}

.container {
  height: 31.25rem;
}

.table {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 1;
  padding: 1.5rem;
  background-color: white;
  border-style: solid;
  border-width: 0.3125rem;
  border-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 10px 10px -10px hsl(0, 0%, 59%);
  display: flex;
  flex-direction: row;
  margin: 0 10%;
  justify-content: space-between;
  z-index: 1;
  height: 100%;
  column-gap: 1.25rem;
}

.divider {
  border-right: 0.125rem solid hsl(0, 0%, 59%);
}

.column-header {
  padding: 0.3125rem 0;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.9375rem;
  color: hsl(0, 0%, 59%);
  font-weight: 500;
}

.column-cell {
  padding: 0.3125rem 0;
  font-weight: 700;
  color: hsl(0, 0%, 17%);
  text-align: left;
  font-size: 1.625rem;
}

#my_isp {
  border-right-color: transparent;
}

#mapid {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 1;
  height: 500px;
  z-index: 0;
}

.attribution {
  grid-row-start: 5;
  grid-row-end: 5;
}

@media screen and (max-width: 26.625rem) {
  #App {
    grid-template-rows: 25vh 10vh 35vh 35vh 1vh;
  }
  .table {
    flex-direction: column;
    width: -webkit-fill-available;
    grid-row-end: 4;
    align-items: center;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .column-cell {
    text-align: center;
  }

  #searchinput {
    margin: 0 10%;
  }
}
