name: automerge

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3.8.2
        with:
          node-version: lts/*
      - run: npm ci
      - run: npm run build
